<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <MuckRecyleAppPool>false</MuckRecyleAppPool>
  <WebsiteCodeName>flex-sc9</WebsiteCodeName>
  <WebFolderName>Web</WebFolderName>
  <GlobalWebPath>c:\Web</GlobalWebPath>
  <!-- Path of the nuget packages, default is solution root -->
  <PackagesRoot>packages</PackagesRoot>
  <SitecorePackage>Sitecore.Xp0.Wdp</SitecorePackage>
  <xConnectPackage>Sitecore.Xp0.XConnect.Wdp</xConnectPackage>
  <SitecoreFundamentalsVersion>2.1.0.28</SitecoreFundamentalsVersion>
  <SitecoreFundamentals>Sitecore.Fundamentals</SitecoreFundamentals>
  <LicenseFile>src\Unic.Flex.Integration.Website\App_Data\license.xml</LicenseFile>
  <SIF>Sitecore.Sif</SIF>
  <SIFVersion>2.1.0.28</SIFVersion>
  <SIFRequiredVersion>2.1.0</SIFRequiredVersion>
  <SitecoreFundamentalsRequiredVersion>1.1.0</SitecoreFundamentalsRequiredVersion>
  <InstallIdentity>false</InstallIdentity>
  <SolrUrl>https://localhost:7985/solr</SolrUrl>
  <SolrRoot>misc\solr\solr_home</SolrRoot>
  <SitecoreVersion>9.2.0.28-pre</SitecoreVersion>
  <SifConfigPaths>misc\Sif</SifConfigPaths>
  <!-- If Set to true, requires restart -->
  <InstallPrerequisites>false</InstallPrerequisites> 
  <InstallDatabases>true</InstallDatabases>
  <!-- The name of the Solr Docker Container (Check docker compose) -->
  <SolrContainerName>solr_flex_721</SolrContainerName>
  <KeepAppConfigIncludes>
    *_sitecore;
    *_sitecore_lucene;
    *_unic;
    *_base;
    *_modules;
    Unicorn;
    *_$Environment;
    *_$Role;
    *_$Environment.$Role
  </KeepAppConfigIncludes>
  <AppPoolRuntime>v4.0</AppPoolRuntime>
  <HostsFileComment>generated by Bob Open Build and his Can Do Crew</HostsFileComment>
  <BackupFolderName>Backup</BackupFolderName>
  <SerializationReferenceTemplate>
    <![CDATA[
          <configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
            <sitecore>
              <sc.variable name="repositoryRoot" set:value="[BobSerializationPath]"/>
              <settings>
                  <setting name="SerializationFolder" set:value="$(repositoryRoot)/serialization/appDefault"/>
              </settings>
            </sitecore>
          </configuration>
          ]]>
  </SerializationReferenceTemplate>
  <DeploymentSerializationReferenceTemplate>
    <![CDATA[
        <configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
          <sitecore>
            <sc.variable name="repositoryRoot" set:value="[BobSerializationPath]"/>
          </sitecore>
        </configuration>
        ]]>
  </DeploymentSerializationReferenceTemplate>
  <SerializationPath>.</SerializationPath>
  <SerializationReferenceFilePath>App_Config\Include\Unic.SerializationReference.config</SerializationReferenceFilePath>
  <DatabaseServer>localhost</DatabaseServer>
  <DatabaseBackupShare>\\corp.unic.com\sys\backup\unic-dev-mssql2</DatabaseBackupShare>
  <InitDatabasesPath>.\databases</InitDatabasesPath>
  <ConnectionStringsFolder>src\Unic.Flex.Integration.Website\App_Config\ConnectionStrings.config</ConnectionStringsFolder>
  <WebRootConnectionStringsPath>App_Config\ConnectionStrings.config</WebRootConnectionStringsPath>
  <IISBindings>
    <Binding IP="">flex.local</Binding>
    <Binding IP="">local.flex.com</Binding>
  </IISBindings>
  <xConnectIISBindings>
    <Binding IP="">flex.xconnect</Binding>
    <Binding IP="">flex.xconnect.local</Binding>
  </xConnectIISBindings>
  <NuGetFeed>https://teamcity.unic.com/httpAuth/app/nuget/feed/_Root/default/v2</NuGetFeed>

  <LoftyVersion>2.0.0</LoftyVersion>
  <DodgerVersion>2.1</DodgerVersion>
  <UnicornSharedSecret>35A6DC0394D8CDB201BC0A7E360DB4696328EFAD0B59DB69438B94E2CE246300</UnicornSharedSecret>
</Configuration>