<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <!-- Opts out of both Automatic Package Restore and MSBuild-Integrated Package Restore -->
        <add key="enabled" value="False" />
        <!-- Opts out of Automatic Package Restore in Visual Studio -->
        <add key="automatic" value="False" />
        <!-- Add this repository to the list of available repositories -->
        <add key="Unic TeamCity V2" value="https://teamcity.unic.com/httpAuth/app/nuget/feed/_Root/default/v2" />
    </packageRestore>
    <packageSources>
        <add key="Sitecore" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
  </packageSources>
</configuration>