@using System.Web.Mvc.Html
@model Unic.Flex.DomainModel.Fields.InputFields.MultilineTextField

<li>
    @Html.LabelFor(m => m.Value, Model.Label)
    @Html.TextAreaFor(m => m.Value, new { id = Model.ItemId, Name = Model.ItemId })
</li>