@using System.Web.Mvc.Html
@model Unic.Flex.Model.ViewModel.Fields.InputFields.MultilineTextFieldViewModel

<li>
    @{
        Model.Attributes.Add("Rows", Model.Rows);
    }
    
    @Html.LabelFor(m => m.Value, Model.Label)
    @Html.TextAreaFor(m => m.Value, Model.Attributes)
    @Html.ValidationMessageFor(model => model.Value)
</li>