@using System.Web.Mvc.Html
@model Unic.Flex.Implementation.Fields.InputFields.MultilineTextFieldViewModel

<li class="@Model.CssClass">
    @{
        Model.Attributes.Add("Rows", Model.Rows);
    }

    @Html.LabelFor(m => m.Value, Model.Label)
    @Html.TextAreaFor(m => m.Value, Model.Attributes)
    @Html.ValidationMessageFor(model => model.Value)
</li>