@using System.Web.Mvc.Html
@inherits Unic.Flex.Presentation.FlexView<Unic.Flex.Model.Fields.FieldViewModel, Unic.Flex.Model.Fields.InputFields.MultilineTextField>

<li>
    @Html.LabelFor(m => m.Value, Model.Label)
    @Html.TextAreaFor(m => m.Value, new { Rows = DomainModel.Rows })
</li>