@using System.Web.Mvc.Html
@inherits Unic.Flex.Presentation.FlexView<Unic.Flex.Website.Models.Flex.FieldViewModel, Unic.Flex.DomainModel.Fields.InputFields.SinglelineTextField>

<li>
    @Html.LabelFor(m => m.Value, Model.Label)
    @Html.TextBoxFor(m => m.Value)
</li>