<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=localhost;Initial Catalog=flex-sc9_Core;User ID=flex-sc9_coreuser;Password=pDgv9h9OCQkiEd" />
  <add name="security" connectionString="Data Source=localhost;Initial Catalog=flex-sc9_Core;User ID=flex-sc9_securityuser;Password=pDgv9h9OCQkiEd" />
  <add name="master" connectionString="Data Source=localhost;Initial Catalog=flex-sc9_Master;User ID=flex-sc9;Password=pDgv9h9OCQkiEd" />
  <add name="web" connectionString="Data Source=localhost;Initial Catalog=flex-sc9_Web;User ID=flex-sc9;Password=pDgv9h9OCQkiEd" />
  <add name="messaging" connectionString="Data Source=localhost;Initial Catalog=flex-sc9_Messaging;User ID=flex-sc9.xConnect;Password=pDgv9h9OCQkiEd" />
  <add name="xdb.marketingautomation" connectionString="Data Source=localhost;Initial Catalog=flex-sc9_MarketingAutomation;User ID=flex-sc9.xConnect;Password=pDgv9h9OCQkiEd" />
  <add name="xdb.processing.pools" connectionString="Data Source=localhost;Initial Catalog=flex-sc9_Processing.Pools;User ID=flex-sc9.xConnect;Password=pDgv9h9OCQkiEd" />
  <add name="xdb.referencedata" connectionString="Data Source=localhost;Initial Catalog=flex-sc9_ReferenceData;User ID=flex-sc9.xConnect;Password=pDgv9h9OCQkiEd" />
  <add name="xdb.processing.tasks" connectionString="Data Source=localhost;Initial Catalog=flex-sc9_Processing.Tasks;User ID=flex-sc9.xConnect;Password=pDgv9h9OCQkiEd" />
  <add name="experienceforms" connectionString="Data Source=localhost;Initial Catalog=flex-sc9_ExperienceForms;User ID=flex-sc9;Password=pDgv9h9OCQkiEd" />
  <add name="exm.master" connectionString="Data Source=localhost;Initial Catalog=flex-sc9_EXM.Master;User ID=flex-sc9;Password=pDgv9h9OCQkiEd" />
  <add name="reporting" connectionString="Data Source=localhost;Initial Catalog=flex-sc9_Reporting;User ID=flex-sc9.xConnect;Password=pDgv9h9OCQkiEd" />
  <add name="sitecore.reporting.client" connectionString="https://flex-sc9.xconnect" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=5351526602BEDCDE5F34F65B4072A67CA5C2CA6A" />
  <add name="solr.search" connectionString="https://localhost:7985/solr" />
  <add name="sitecoreidentity.secret" connectionString="UnicSitecoreIdentitySecret!" />
  <add name="xconnect.collection" connectionString="https://flex-sc9.xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=5351526602BEDCDE5F34F65B4072A67CA5C2CA6A" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://flex-sc9.xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=5351526602BEDCDE5F34F65B4072A67CA5C2CA6A" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://flex-sc9.xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=5351526602BEDCDE5F34F65B4072A67CA5C2CA6A" />
  <add name="xdb.referencedata.client" connectionString="https://flex-sc9.xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=5351526602BEDCDE5F34F65B4072A67CA5C2CA6A" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  <add name="EXM.CryptographicKey" connectionString="0x2319030deedb02fa4dad2e8ab0cc7f15380807b1090b20a8c54fe955c687f358" />
  <add name="EXM.AuthenticationKey" connectionString="0x61f1d65b471adf3e3bbb3becc05ddd5695844e0383772c2bbbda7cb9be89b294" />

  <add name="Flex" connectionString="Data Source=localhost;Integrated Security=True;Initial Catalog=flex_sc_internet_flex" providerName="System.Data.SqlClient" />
</connectionStrings>