<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=localhost;Integrated Security=true;Database=flex_sc_internet_core" />
  <add name="master" connectionString="Data Source=localhost;Integrated Security=true;Database=flex_sc_internet_master" />
  <add name="web" connectionString="Data Source=localhost;Integrated Security=true;Database=flex_sc_internet_web" />
  <add name="analytics" connectionString="mongodb://localhost/flex_sc_internet_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/flex_sc_internet_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/flex_sc_internet_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/flex_sc_internet_tracking_contact" />
  <add name="reporting" connectionString="Data Source=localhost;Integrated Security=true;Database=flex_sc_internet_analytics" />
  <add name="Flex" connectionString="Data Source=localhost;Integrated Security=True;Initial Catalog=flex_sc_internet_flex" providerName="System.Data.SqlClient" />
</connectionStrings>