<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Unic.Flex.SimpleInjectorIoC.Bootstrapper, Unic.Flex.SimpleInjectorIoC"
                   patch:before="*[@type='Unic.Flex.Website.Initialize.Bootstrapper, Unic.Flex.Website']" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>