@model Unic.Flex.Model.ViewModel.Components.ErrorViewModel

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="flex_formcontainer">
        <div class="validation-summary-errors">
            @Html.Raw(Model.Message)
        </div>
    </div>
}
    