@model Unic.Flex.Model.ViewModels.ErrorViewModel

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="flex_formcontainer">
        <p class="flex_globalerror">
            @Html.Raw(Model.Message)
        </p>
    </div>
}
    