<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <unicorn>
      <configurations>
        <configuration name="Modules.Configuration">
          <targetDataStore physicalRootPath="$(repositoryRoot)\serialization\modules\configuration" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Fields" database="core" path="/sitecore/system/Field types/Unic Configuration Module"/>
            <include name="Templates" database="master" path="/sitecore/templates/Configuration" />
            <include name="Branches" database="master" path="/sitecore/templates/Branches/Configuration"/>
            <include name="Tags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Unic Configuration Module" />
            <include name="Rules" database="master" path="/sitecore/system/Settings/Rules/Unic Configuration Module" />
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
    
  </sitecore>
</configuration>