<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <unicorn>
      <configurations>
        <configuration name="Modules.Flex" dependencies="Modules.Configuration">
          <targetDataStore physicalRootPath="$(repositoryRoot)\serialization\modules\flex" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Flex" />
            <include name="Settings" database="master" path="/sitecore/system/Modules/Flex" />
            <include name="Rules.Elements.Config" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Flex Configuration" />
            <include name="Rules.Elements.SaveConditionalExecute" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Flex Save Conditional Execute Rules" />
            <include name="Rules.Elements.Save" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Flex Save Rules" />
            <include name="Rules.Elements.Load" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Flex Load Rules" />
            <include name="Rules.Tags.SaveConditionalExecute" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Flex Save Conditional Execute Rules" />
            <include name="Rules.Tags.Save" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Flex Save Rules" />
            <include name="Rules.Tags.Load" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Flex Load Rules" />
            <include name="Rules.SaveConditionalExecute" database="master" path="/sitecore/system/Settings/Rules/Flex Save Conditional Execute Rules" />
            <include name="Rules.Save" database="master" path="/sitecore/system/Settings/Rules/Flex Save Rules" />
            <include name="Rules.Load" database="master" path="/sitecore/system/Settings/Rules/Flex Load Rules" />
            <include name="Validation" database="master" path="/sitecore/system/Settings/Validation Rules/Field Rules/Flex" />
            <include name="Branches" database="master" path="/sitecore/templates/Branches/Flex" />
            <include name="Templates" database="master" path="/sitecore/templates/Flex" />

            <include name="Ribbons" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Contextual Ribbons/Flex" />

            <!-- SPEAK -->
            <include name="Application" database="core" path="/sitecore/client/Your Apps/Flex" />
            <include name="Launchpad" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Tools/Flex" />

          </predicate>
        </configuration>
        <configuration name="Modules.Flex.Default" dependencies="Modules.Configuration">
          <targetDataStore physicalRootPath="$(repositoryRoot)\serialization\app\flex" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Commands" database="master" path="/sitecore/system/Tasks/Commands">
              <exclude children="true">
                <except name="Flex" />
              </exclude>
            </include>
            <include name="Schedules" database="master" path="/sitecore/system/Tasks/Schedules">
              <exclude children="true">
                <except name="Flex" />
              </exclude>
            </include>
          </predicate>  
      </configuration>
      </configurations>
    </unicorn>

  </sitecore>
</configuration>