@using Sitecore.Globalization
@using Unic.Flex.Presentation
@model Unic.Flex.Model.ViewModel.Steps.SingleStepViewModel

@for (int i = 0; i < Model.Sections.Count; i++)
{
    @Html.FlexComponent(m => m.Sections[i])
}

@if (!string.IsNullOrWhiteSpace(Model.CancelUrl))
{
    <a href="@Model.CancelUrl">@Model.CancelText</a>
}

<div class="fm_formfooter">
    <div class="fm_buttoncontainer">
        <button type="submit" role="button">
            <span>
                @Translate.Text("Finish Form")
            </span>
        </button>
    </div>
</div>