<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <configSections>
    <section xdt:Transform="Insert" name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <entityFramework xdt:Transform="Insert">
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <appSettings>
    <add xdt:Transform="Insert" key="ClientValidationEnabled" value="true"/>
    <add xdt:Transform="Insert" key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

</configuration>