<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!--Database used in intialize Pipeline for Kickstart DI-->
      <setting name="Unic.Feature.Flex.InitialDatabase" value="web" />
    </settings>
  </sitecore>
</configuration>