@using Unic.Flex.Presentation
@model Unic.Flex.Implementation.Fields.TextOnly.TextOnlyFieldViewModel

<li class="@Model.CssClass" @Html.Raw(Html.FormatAttributes(Model.ContainerAttributes))>
    
    @if (!string.IsNullOrWhiteSpace(Model.Label))
    {
        <strong class="flex_label">@Model.Label</strong>
    }

    <div class="flex_rtecontent">
        @Html.Raw(Model.Value)
    </div>

</li>