USE [master]
GO
/****** Object:  Database [flex_sc_internet_analytics]    Script Date: 20.05.2015 16:21:55 ******/
CREATE DATABASE [flex_sc_internet_analytics] 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [flex_sc_internet_analytics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [flex_sc_internet_analytics]
GO

/****** Object:  UserDefinedFunction [dbo].[GetVisitorClassification]    Script Date: 20.05.2015 16:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetVisitorClassification]
(
           @overridden int,
           @p0 int,
           @p1 int,
           @p2 int,
           @p3 int,
           @p4 int
)
RETURNS int
AS
BEGIN
  DECLARE @Return int
  IF @overridden = 0 OR @overridden = 925 /* Autodetects bot - special logic */
  BEGIN
    SELECT
    @Return = @p0
    SELECT
    @Return = CASE WHEN @Return IS NULL OR @p1 > @Return THEN @p1 ELSE @Return END
    SELECT
    @Return = CASE WHEN @Return IS NULL OR @p2 > @Return THEN @p2 ELSE @Return END
    SELECT
    @Return = CASE WHEN @Return IS NULL OR @p3 > @Return THEN @p3 ELSE @Return END
    SELECT
    @Return = CASE WHEN @Return IS NULL OR @p4 > @Return THEN @p4 ELSE @Return END
    if @overridden = 925 AND @Return < 900 /* If Autodetected as a robot (925), and previous classification is a human, still return 925 */
    BEGIN
      SELECT @Return = @overridden
    END
  END 
  ELSE BEGIN
    SELECT @Return = @overridden
  END        
  RETURN @Return
END
GO
/****** Object:  Table [dbo].[Automations]    Script Date: 20.05.2015 16:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Automations](
	[AutomationId] [uniqueidentifier] NOT NULL,
	[AutomationName] [nvarchar](100) NOT NULL,
	[Campaignid] [uniqueidentifier] NULL,
	[IntegrationId] [uniqueidentifier] NULL,
	[IntegrationLabel] [nvarchar](100) NULL,
	[Suspended] [bit] NOT NULL,
	[Data] [nvarchar](max) NULL,
 CONSTRAINT [PK_Automation] PRIMARY KEY CLUSTERED 
(
	[AutomationId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AutomationStates]    Script Date: 20.05.2015 16:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AutomationStates](
	[AutomationStateId] [uniqueidentifier] NOT NULL,
	[AutomationId] [uniqueidentifier] NOT NULL,
	[VisitorId] [uniqueidentifier] NULL,
	[UserName] [nvarchar](256) NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[WakeupDateTime] [datetime] NULL,
	[StateId] [uniqueidentifier] NULL,
	[StateName] [nvarchar](100) NULL,
	[TestSetId] [uniqueidentifier] NULL,
	[TestValues] [binary](16) NULL,
	[Data] [nvarchar](max) NOT NULL,
	[State] [int] NOT NULL,
	[DataCode] [int] NOT NULL,
	[LastAccessedDateTime] [datetime] NULL,
	[rn] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_AutomationState] PRIMARY KEY NONCLUSTERED 
(
	[AutomationStateId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_Order]    Script Date: 20.05.2015 16:21:55 ******/
CREATE UNIQUE CLUSTERED INDEX [IX_Order] ON [dbo].[AutomationStates]
(
	[rn] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Browsers]    Script Date: 20.05.2015 16:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Browsers](
	[BrowserId] [uniqueidentifier] NOT NULL,
	[MajorName] [nvarchar](50) NOT NULL,
	[MinorName] [nvarchar](50) NULL,
	[Version] [varchar](16) NOT NULL,
 CONSTRAINT [PK_Browsers] PRIMARY KEY CLUSTERED 
(
	[BrowserId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cache_TrafficByDay]    Script Date: 20.05.2015 16:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cache_TrafficByDay](
	[Date] [date] NOT NULL,
	[TrafficType] [int] NOT NULL,
	[CampaignId] [uniqueidentifier] NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[Url] [varchar](800) NULL,
	[KeywordsId] [uniqueidentifier] NOT NULL,
	[Keywords] [nvarchar](400) NOT NULL,
	[ReferringSiteId] [uniqueidentifier] NOT NULL,
	[ReferringSite] [varchar](100) NULL,
	[Multisite] [nvarchar](450) NOT NULL,
	[DeviceName] [nvarchar](100) NULL,
	[Language] [nvarchar](50) NOT NULL,
	[FirstVisit] [int] NOT NULL,
	[Visits] [int] NOT NULL,
	[Value] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [PK_ByDate]    Script Date: 20.05.2015 16:21:55 ******/
CREATE CLUSTERED INDEX [PK_ByDate] ON [dbo].[Cache_TrafficByDay]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cache_ValueBySource]    Script Date: 20.05.2015 16:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cache_ValueBySource](
	[Date] [date] NOT NULL,
	[TrafficType] [int] NOT NULL,
	[Multisite] [nvarchar](450) NULL,
	[DeviceName] [nvarchar](100) NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
	[Visits] [int] NOT NULL,
	[Value] [int] NOT NULL,
	[FirstVisitValue] [int] NOT NULL,
	[Visitors] [bigint] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Index [PK_ByDate]    Script Date: 20.05.2015 16:21:55 ******/
CREATE CLUSTERED INDEX [PK_ByDate] ON [dbo].[Cache_ValueBySource]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cache_VisitEvents]    Script Date: 20.05.2015 16:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cache_VisitEvents](
	[Date] [date] NOT NULL,
	[VisitId] [uniqueidentifier] NOT NULL,
	[TrafficType] [int] NOT NULL,
	[CampaignId] [uniqueidentifier] NULL,
	[Multisite] [nvarchar](450) NOT NULL,
	[DeviceName] [nvarchar](100) NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
	[Value] [int] NOT NULL,
	[PageEventDefinitionId] [uniqueidentifier] NOT NULL,
	[PageEventName] [nvarchar](100) NOT NULL,
	[IsGoal] [bit] NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[EventItemId] [uniqueidentifier] NOT NULL,
	[DataKey] [varchar](100) NOT NULL,
	[NumberOfEvents] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [PK_ByDate]    Script Date: 20.05.2015 16:21:55 ******/
CREATE CLUSTERED INDEX [PK_ByDate] ON [dbo].[Cache_VisitEvents]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cache_VisitorsByLocation]    Script Date: 20.05.2015 16:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cache_VisitorsByLocation](
	[Date] [date] NOT NULL,
	[VisitorClassification] [int] NOT NULL,
	[LocationId] [uniqueidentifier] NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[BusinessName] [nvarchar](100) NOT NULL,
	[Region] [nvarchar](100) NOT NULL,
	[VisitorId] [uniqueidentifier] NOT NULL,
	[Visits] [bigint] NOT NULL,
	[Value] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Index [PK_ByDate]    Script Date: 20.05.2015 16:21:55 ******/
CREATE CLUSTERED INDEX [PK_ByDate] ON [dbo].[Cache_VisitorsByLocation]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaigns]    Script Date: 20.05.2015 16:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaigns](
	[CampaignId] [uniqueidentifier] NOT NULL,
	[CampaignName] [nvarchar](100) NOT NULL,
	[Cost] [int] NOT NULL,
	[CostPerClick] [int] NOT NULL,
	[CostPerDay] [int] NOT NULL,
	[CostBase] [int] NOT NULL,
	[Category1Label] [nvarchar](100) NULL,
	[Category1Id] [uniqueidentifier] NULL,
	[Category2Label] [nvarchar](100) NULL,
	[Category2Id] [uniqueidentifier] NULL,
	[Category3Label] [nvarchar](100) NULL,
	[Category3Id] [uniqueidentifier] NULL,
	[IntegrationLabel] [nvarchar](100) NULL,
	[IntegrationId] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Campaign] PRIMARY KEY CLUSTERED 
(
	[CampaignId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GeoIps]    Script Date: 20.05.2015 16:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GeoIps](
	[Ip] [varbinary](16) NOT NULL,
	[VisitorClassification] [int] NOT NULL,
	[CachedValue] [nvarchar](max) NULL,
	[Fetched] [datetime] NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_GeoIps] PRIMARY KEY CLUSTERED 
(
	[Ip] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemUrls]    Script Date: 20.05.2015 16:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemUrls](
	[ItemId] [uniqueidentifier] NOT NULL,
	[Url] [varchar](800) NULL,
 CONSTRAINT [PK_ItemUrls] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Keywords]    Script Date: 20.05.2015 16:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keywords](
	[KeywordsId] [uniqueidentifier] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Keywords] PRIMARY KEY CLUSTERED 
(
	[KeywordsId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Locations]    Script Date: 20.05.2015 16:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationId] [uniqueidentifier] NOT NULL,
	[BusinessName] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[VisitorClassification] [int] NOT NULL,
	[IntegrationId] [uniqueidentifier] NULL,
	[IntegrationLabel] [nvarchar](50) NULL,
	[ExternalUser] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NotificationSubscriptions]    Script Date: 20.05.2015 16:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationSubscriptions](
	[NotificationSubscriptionsId] [uniqueidentifier] NOT NULL,
	[LocationId] [uniqueidentifier] NOT NULL,
	[MailRecipients] [nvarchar](254) NOT NULL,
 CONSTRAINT [PK_NotificationSubscriptions] PRIMARY KEY CLUSTERED 
(
	[NotificationSubscriptionsId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OS]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OS](
	[OsId] [uniqueidentifier] NOT NULL,
	[MajorName] [varchar](250) NOT NULL,
	[MinorName] [varchar](250) NOT NULL,
	[Version] [varchar](250) NOT NULL,
 CONSTRAINT [PK_OS] PRIMARY KEY CLUSTERED 
(
	[OsId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PageEventDefinitions]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageEventDefinitions](
	[PageEventDefinitionId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Value] [int] NOT NULL,
	[IsSystem] [bit] NOT NULL,
	[IsAuthorFeedback] [bit] NOT NULL,
	[IsGoal] [bit] NOT NULL,
	[IsFailure] [bit] NOT NULL,
	[Category1Label] [nvarchar](100) NULL,
	[Category1Id] [uniqueidentifier] NULL,
	[Category2Label] [nvarchar](100) NULL,
	[Category2Id] [uniqueidentifier] NULL,
	[Category3Label] [nvarchar](100) NULL,
	[Category3Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PageEventDefinitions] PRIMARY KEY CLUSTERED 
(
	[PageEventDefinitionId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PageEvents]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageEvents](
	[PageEventId] [uniqueidentifier] NOT NULL,
	[VisitorId] [uniqueidentifier] NOT NULL,
	[PageEventDefinitionId] [uniqueidentifier] NOT NULL,
	[PageId] [uniqueidentifier] NOT NULL,
	[VisitId] [uniqueidentifier] NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[IntegrationId] [uniqueidentifier] NULL,
	[IntegrationLabel] [nvarchar](100) NULL,
	[DataKey] [nvarchar](100) NOT NULL,
	[Data] [nvarchar](450) NOT NULL,
	[DataCode] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Timestamp] [bigint] NOT NULL,
	[CustomSorting] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[rn] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PageEvents] PRIMARY KEY NONCLUSTERED 
(
	[PageEventId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_Order]    Script Date: 20.05.2015 16:21:56 ******/
CREATE UNIQUE CLUSTERED INDEX [IX_Order] ON [dbo].[PageEvents]
(
	[rn] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pages](
	[PageId] [uniqueidentifier] NOT NULL,
	[VisitId] [uniqueidentifier] NOT NULL,
	[VisitorId] [uniqueidentifier] NOT NULL,
	[VisitPageIndex] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[ItemLanguage] [nvarchar](50) NOT NULL,
	[ItemVersion] [int] NOT NULL,
	[DeviceId] [uniqueidentifier] NOT NULL,
	[Url] [varchar](800) NOT NULL,
	[UrlText] [varchar](max) NOT NULL,
	[TestSetId] [uniqueidentifier] NULL,
	[TestValues] [binary](16) NULL,
	[Duration] [int] NULL,
	[Data] [nvarchar](max) NULL,
	[DeviceName] [nvarchar](100) NOT NULL,
	[rn] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Pages] PRIMARY KEY NONCLUSTERED 
(
	[PageId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_Order]    Script Date: 20.05.2015 16:21:56 ******/
CREATE UNIQUE CLUSTERED INDEX [IX_Order] ON [dbo].[Pages]
(
	[rn] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Profiles](
	[ProfileId] [uniqueidentifier] NOT NULL,
	[VisitId] [uniqueidentifier] NOT NULL,
	[VisitorId] [uniqueidentifier] NOT NULL,
	[ProfileName] [nvarchar](50) NOT NULL,
	[PatternValues] [varchar](max) NOT NULL,
	[PatternLabel] [nvarchar](max) NULL,
	[PatternId] [uniqueidentifier] NULL,
	[rn] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY NONCLUSTERED 
(
	[ProfileId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_Order]    Script Date: 20.05.2015 16:21:56 ******/
CREATE UNIQUE CLUSTERED INDEX [IX_Order] ON [dbo].[Profiles]
(
	[rn] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReferringSites]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReferringSites](
	[ReferringSiteId] [uniqueidentifier] NOT NULL,
	[Host] [varchar](100) NOT NULL,
	[TrafficType] [int] NOT NULL,
 CONSTRAINT [PK_ReferringSites] PRIMARY KEY CLUSTERED 
(
	[ReferringSiteId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Screens]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screens](
	[ScreenId] [uniqueidentifier] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
 CONSTRAINT [PK_Screens] PRIMARY KEY CLUSTERED 
(
	[ScreenId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [uniqueidentifier] NOT NULL,
	[InstanceName] [nvarchar](50) NOT NULL,
	[Text] [nvarchar](100) NOT NULL,
	[LastSuccessful] [datetime] NULL,
	[LastFailed] [datetime] NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestDefinitions]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDefinitions](
	[TestSetId] [uniqueidentifier] NOT NULL,
	[TestSetName] [nvarchar](100) NOT NULL,
	[VariableId] [uniqueidentifier] NOT NULL,
	[VariableLabel] [nvarchar](100) NOT NULL,
	[VariableIndex] [smallint] NOT NULL,
	[ValueId] [uniqueidentifier] NOT NULL,
	[ValueLabel] [nvarchar](100) NOT NULL,
	[Value] [smallint] NOT NULL,
 CONSTRAINT [PK_TestDefinitions] PRIMARY KEY CLUSTERED 
(
	[ValueId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrafficTypes]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrafficTypes](
	[TrafficType] [int] NOT NULL,
	[Text] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TrafficTypes] PRIMARY KEY CLUSTERED 
(
	[TrafficType] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAgents]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAgents](
	[UserAgentId] [uniqueidentifier] NOT NULL,
	[UserAgent] [nvarchar](max) NOT NULL,
	[CachedValue] [nvarchar](max) NULL,
	[Fetched] [datetime] NULL,
	[VisitorClassification] [int] NOT NULL,
 CONSTRAINT [PK_UserAgents] PRIMARY KEY CLUSTERED 
(
	[UserAgentId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VisitorClassifications]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorClassifications](
	[VisitorClassification] [int] NOT NULL,
	[Text] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_VisitorClassification] PRIMARY KEY CLUSTERED 
(
	[VisitorClassification] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Visitors]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitors](
	[VisitorId] [uniqueidentifier] NOT NULL,
	[VisitorClassification] [int] NOT NULL,
	[OverrideVisitorClassification] [int] NOT NULL,
	[VisitCount] [int] NOT NULL,
	[Value] [int] NOT NULL,
	[AuthenticationLevel] [int] NOT NULL,
	[ExternalUser] [nvarchar](256) NOT NULL,
	[IntegrationId] [uniqueidentifier] NULL,
	[IntegrationLabel] [nvarchar](100) NULL,
	[rn] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Visitors] PRIMARY KEY NONCLUSTERED 
(
	[VisitorId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_Order]    Script Date: 20.05.2015 16:21:56 ******/
CREATE UNIQUE CLUSTERED INDEX [IX_Order] ON [dbo].[Visitors]
(
	[rn] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorTags]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorTags](
	[VisitorTagId] [uniqueidentifier] NOT NULL,
	[VisitorId] [uniqueidentifier] NOT NULL,
	[TagName] [nvarchar](450) NOT NULL,
	[TagValue] [nvarchar](max) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[AcquaintanceId] [uniqueidentifier] NOT NULL,
	[rn] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_VisitorTags] PRIMARY KEY NONCLUSTERED 
(
	[VisitorTagId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_Order]    Script Date: 20.05.2015 16:21:56 ******/
CREATE UNIQUE CLUSTERED INDEX [IX_Order] ON [dbo].[VisitorTags]
(
	[rn] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visits]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Visits](
	[VisitId] [uniqueidentifier] NOT NULL,
	[VisitorId] [uniqueidentifier] NOT NULL,
	[VisitorVisitIndex] [int] NOT NULL,
	[VisitPageCount] [int] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
	[TrafficType] [int] NOT NULL,
	[Value] [int] NOT NULL,
	[AspNetSessionId] [varchar](50) NOT NULL,
	[ReferringSiteId] [uniqueidentifier] NOT NULL,
	[KeywordsId] [uniqueidentifier] NOT NULL,
	[BrowserId] [uniqueidentifier] NOT NULL,
	[UserAgentId] [uniqueidentifier] NOT NULL,
	[OsId] [uniqueidentifier] NOT NULL,
	[ScreenId] [uniqueidentifier] NOT NULL,
	[CampaignId] [uniqueidentifier] NULL,
	[RDNS] [nvarchar](450) NOT NULL,
	[MultiSite] [nvarchar](450) NOT NULL,
	[LocationId] [uniqueidentifier] NOT NULL,
	[Ip] [varbinary](16) NOT NULL,
	[BusinessName] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[PostalCode] [nvarchar](100) NOT NULL,
	[MetroCode] [nvarchar](100) NOT NULL,
	[AreaCode] [nvarchar](100) NOT NULL,
	[Region] [nvarchar](100) NOT NULL,
	[IspName] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[TestSetId] [uniqueidentifier] NULL,
	[TestValues] [binary](16) NULL,
	[Referrer] [nvarchar](max) NOT NULL,
	[State] [tinyint] NOT NULL CONSTRAINT [DF_Visits_State]  DEFAULT ((0)),
	[StateChanged] [smalldatetime] NULL,
	[DeviceName] [nvarchar](100) NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
	[rn] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Visits] PRIMARY KEY NONCLUSTERED 
(
	[VisitId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_Order]    Script Date: 20.05.2015 16:21:56 ******/
CREATE UNIQUE CLUSTERED INDEX [IX_Order] ON [dbo].[Visits]
(
	[rn] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Source_TrafficByDay]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Source_TrafficByDay] AS
SELECT
  CAST( [Visits].[StartDateTime] AS DATE) AS [Date],
  [Visits].[TrafficType] AS [TrafficType],
  [Visits].[CampaignId] AS [CampaignId],
  [Pages].[ItemId] AS [ItemId],
  LOWER( SUBSTRING( CONVERT( VARCHAR(800), [ItemUrls].[Url] ), 1, CHARINDEX( '?', [ItemUrls].[Url] + '?' ) - 1 ) ) AS [Url],
  [Visits].[KeywordsId] AS [KeywordsId],
  LOWER( CONVERT( NVARCHAR(400), [Keywords].[Text] ) ) AS [Keywords],
  [Visits].[ReferringSiteId] AS [ReferringSiteId],
  LOWER( [ReferringSites].[Host] ) AS [ReferringSite],
  LOWER( [Visits].[Multisite] ) AS [Multisite],
  LOWER( [Visits].[DeviceName] ) AS [DeviceName],
  LOWER( [Visits].[Language] ) AS [Language],
  (CASE WHEN [Visits].[VisitorVisitIndex] = 1 THEN 1 ELSE 0 END) AS [FirstVisit],
  COUNT( 1 ) AS [Visits],
  SUM( [Visits].[Value] ) AS [Value]
FROM
  [dbo].[Visits] WITH (NOLOCK, FORCESEEK)
  INNER JOIN [dbo].[Pages] WITH (NOLOCK) ON ([Visits].[VisitId] = [Pages].[VisitId]) AND ([Visits].[VisitorId] = [Pages].[VisitorId]) AND ([Pages].[VisitPageIndex] = 1) AND ([Pages].[ItemId] <> '00000000-0000-0000-0000-000000000000')
  INNER JOIN [dbo].[Keywords] WITH (NOLOCK) ON ([Visits].[KeywordsId] = [Keywords].[KeywordsId])
  INNER JOIN [dbo].[ItemUrls] WITH (NOLOCK) ON ([Pages].[ItemId] = [ItemUrls].[ItemId])
  INNER JOIN [dbo].[ReferringSites] WITH (NOLOCK) ON ([Visits].[ReferringSiteId] = [ReferringSites].[ReferringSiteId])
  INNER JOIN [Visitors] WITH (NOLOCK) ON ([Visits].[VisitorId] = [Visitors].[VisitorId]) AND ([Visitors].[VisitorClassification] < 900)
GROUP BY
  CAST( [Visits].[StartDateTime] AS DATE),
  [Visits].[TrafficType],
  [Visits].[CampaignId],
  [Pages].[ItemId],
  LOWER( SUBSTRING( CONVERT( VARCHAR(800), [ItemUrls].[Url] ), 1, CHARINDEX( '?', [ItemUrls].[Url] + '?' ) - 1 ) ),
  [Visits].[KeywordsId],
  LOWER( CONVERT( NVARCHAR(400), [Keywords].[Text] ) ),
  [Visits].[ReferringSiteId],
  LOWER( [ReferringSites].[Host] ),
  LOWER( [Visits].[Multisite] ),
  LOWER( [Visits].[DeviceName] ),
  LOWER( [Visits].[Language] ),
  (CASE WHEN [Visits].[VisitorVisitIndex] = 1 THEN 1 ELSE 0 END)


GO
/****** Object:  View [dbo].[TrafficByDay]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[TrafficByDay] AS
(
  SELECT
    CONVERT( CHAR(8), [Date], 112 ) AS [Date],
    CONVERT( CHAR(8), DATEADD( DAY, (-DATEPART( DAY, [Date] ) + 1), [Date] ), 112 ) AS [Month],
    [TrafficType],
    [CampaignId],
    [ItemId],
    [Url],
    [KeywordsId],
    [Keywords],
    [ReferringSiteId],
    [ReferringSite],
    [Multisite],
    [DeviceName],
    [Language],
    [FirstVisit],
    [Visits],
    [Value]
  FROM
    [dbo].[Cache_TrafficByDay]
)
UNION ALL
(
  SELECT
    CONVERT( CHAR(8), [Date], 112 ) AS [Date],
    CONVERT( CHAR(8), DATEADD( DAY, (-DATEPART( DAY, [Date] ) + 1), [Date] ), 112 ) AS [Month],
    [TrafficType],
    [CampaignId],
    [ItemId],
    [Url],
    [KeywordsId],
    [Keywords],
    [ReferringSiteId],
    [ReferringSite],
    [Multisite],
    [DeviceName],
    [Language],
    [FirstVisit],
    [Visits],
    [Value]
  FROM
    [dbo].[Source_TrafficByDay]
  WHERE
    ([Date] > ISNULL( (SELECT MAX(cache.[Date]) FROM [Cache_TrafficByDay] cache), '0001-01-01' ) )
)

GO
/****** Object:  View [dbo].[Source_ValueBySource]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Source_ValueBySource] AS
SELECT
  CAST( [Visits].[StartDateTime] AS DATE) AS [Date],
  [Visits].[TrafficType] AS [TrafficType],
  LOWER( [Visits].[Multisite] ) AS [Multisite],
  LOWER( [Visits].[DeviceName] ) AS [DeviceName],
  LOWER([Visits].[Language]) [Language],
  SUM( [Visitors].[VisitCount] ) AS [Visits],
  SUM( [Visitors].[Value] ) AS [Value],
  SUM([Visits].[Value]) [FirstVisitValue],
  COUNT_BIG( 1 ) AS [Visitors]
FROM 
  [Visitors] WITH (NOLOCK)
  INNER JOIN [Visits] WITH (NOLOCK, FORCESEEK) ON ([Visits].[VisitorVisitIndex] = 1) AND ([Visits].[VisitorId] = [Visitors].[VisitorId])
  AND ([Visitors].VisitorClassification < 900)

GROUP BY 
  CAST( [Visits].[StartDateTime] AS DATE),
  [TrafficType],
  LOWER( [Visits].[Multisite] ),
  LOWER( [Visits].[DeviceName] ),
  LOWER( [Visits].[Language] )


GO
/****** Object:  View [dbo].[ValueBySource]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[ValueBySource] AS
(
  SELECT
    CONVERT( CHAR(8), [Date], 112 ) AS [Date],
    CONVERT( CHAR(8), DATEADD( DAY, (-DATEPART( DAY, [Date] ) + 1), [Date] ), 112 ) AS [Month],
    [TrafficType],
    [Multisite],
    [DeviceName],
    [Language],
    [Visits],
    [Value],
    [FirstVisitValue],
    [Visitors]
  FROM
    [Cache_ValueBySource]
)
UNION ALL
(
  SELECT
    CONVERT( CHAR(8), [Date], 112 ) AS [Date],
    CONVERT( CHAR(8), DATEADD( DAY, (-DATEPART( DAY, [Date] ) + 1), [Date] ), 112 ) AS [Month],
    [TrafficType],
    [Multisite],
    [DeviceName],
    [Language],
    [Visits],
    [Value],
    [FirstVisitValue],
    [Visitors]
  FROM
    [Source_ValueBySource]
  WHERE
    ([Date] > ISNULL( (SELECT MAX(cache.[Date]) FROM [Cache_ValueBySource] cache), '0001-01-01' ) )
)

GO
/****** Object:  View [dbo].[Source_VisitEvents]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Source_VisitEvents] AS
SELECT
  CAST( [Visits].[StartDateTime] AS DATE ) AS [Date],
  [Visits].[VisitId] AS [VisitId],
  [Visits].[TrafficType] AS [TrafficType],
  [Visits].[CampaignId] AS [CampaignId],
  LOWER( [Visits].[Multisite] ) AS [Multisite],
  LOWER( [Visits].[DeviceName] ) AS [DeviceName],
  LOWER( [Visits].[Language] ) AS [Language],
  [Visits].[Value] AS [Value],
  [PageEvents].[PageEventDefinitionId] AS [PageEventDefinitionId],
  [PageEventDefinitions].[Name] AS [PageEventName],
  [PageEventDefinitions].[IsGoal] AS [IsGoal],
  [Pages].[ItemId] AS [ItemId],
  [PageEvents].[ItemId] AS [EventItemId],
  LOWER( [PageEvents].[DataKey] ) AS [DataKey],
  COUNT( 1 ) AS [NumberOfEvents]
FROM 
  [PageEvents] WITH (NOLOCK)
  INNER JOIN [Pages] WITH (NOLOCK) ON ([PageEvents].[PageId] = [Pages].[PageId]) AND ([PageEvents].[VisitId] = [Pages].[VisitId]) AND ([PageEvents].[VisitorId] = [Pages].[VisitorId])
  INNER JOIN [Visits] WITH (NOLOCK) ON ([Visits].[VisitId] = [PageEvents].[VisitId]) AND ([Visits].[VisitorId] = [PageEvents].[VisitorId])
  INNER JOIN [PageEventDefinitions] WITH (NOLOCK) ON ([PageEvents].[PageEventDefinitionId] = [PageEventDefinitions].[PageEventDefinitionId])
  INNER JOIN [Visitors] WITH (NOLOCK) ON ([Visitors].VisitorId = [Visits].[VisitorId]) AND ([Visitors].[VisitorClassification] < 900)
WHERE 
  ([PageEvents].[DataKey] > ' ') OR
  ([PageEventDefinitions].[IsGoal] = 1)
GROUP BY 
  CAST( [Visits].[StartDateTime] AS DATE ),
  [Visits].[VisitId],
  [Visits].[TrafficType],
  [Visits].[CampaignId],
  LOWER( [Visits].[Multisite] ),
  LOWER( [Visits].[DeviceName] ),
  LOWER( [Visits].[Language] ),
  [Visits].[Value], 
  [PageEvents].[PageEventDefinitionId],
  [PageEventDefinitions].[Name],
  [PageEventDefinitions].[IsGoal],
  LOWER( [PageEvents].[DataKey] ),
  [Pages].[ItemId],
  [PageEvents].[ItemId]


GO
/****** Object:  View [dbo].[VisitEvents]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VisitEvents] AS
(
  SELECT
    CONVERT( CHAR(8), [Date], 112 ) AS [Date],
    CONVERT( CHAR(8), DATEADD( DAY, (-DATEPART( DAY, [Date] ) + 1), [Date] ), 112 ) AS [Month],
    [VisitId],
    [TrafficType],
    [CampaignId],
    [Multisite],
    [DeviceName],
    [Language],
    [Value],
    [PageEventDefinitionId],
    [PageEventName],
    [IsGoal],
    [ItemId],
    [EventItemId],
    [DataKey],
    [NumberOfEvents]
  FROM
    [Cache_VisitEvents]
)
UNION ALL
(
  SELECT
    CONVERT( CHAR(8), [Date], 112 ) AS [Date],
    CONVERT( CHAR(8), DATEADD( DAY, (-DATEPART( DAY, [Date] ) + 1), [Date] ), 112 ) AS [Month],
    [VisitId],
    [TrafficType],
    [CampaignId],
    [Multisite],
    [DeviceName],
    [Language],
    [Value],
    [PageEventDefinitionId],
    [PageEventName],
    [IsGoal],
    [ItemId],
    [EventItemId],
    [DataKey],
    [NumberOfEvents]
  FROM
    [Source_VisitEvents]
  WHERE
    ([Date] > ISNULL( (SELECT MAX(cache.[Date]) FROM [Cache_VisitEvents] cache), '0001-01-01' ))
)

GO
/****** Object:  View [dbo].[Source_VisitorsByLocation]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[Source_VisitorsByLocation] AS
SELECT
    CAST( [StartDateTime] AS DATE ) AS [Date],
    [Visitors].[VisitorClassification] AS [VisitorClassification],
    [LocationId] AS [LocationId],
    [Country] AS [Country],
	[BusinessName] AS [BusinessName],
    [Region] AS [Region],
    [Visits].[VisitorId] AS [VisitorId],
    COUNT_BIG( 1 ) AS [Visits],
    SUM( [Visits].[Value] ) AS [Value]
FROM
    [Visits] WITH (NOLOCK, FORCESEEK)
    INNER JOIN [Visitors] WITH (NOLOCK) ON ([Visits].[VisitorId] = [Visitors].[VisitorId]) AND ([Visitors].[VisitorClassification] < 900)
GROUP BY
    [Visits].[VisitorId],
    [LocationId],
    [Country],
    [BusinessName],
    [Region],
    [VisitorClassification],
    CAST( [StartDateTime] AS DATE )

GO
/****** Object:  View [dbo].[VisitorsByLocation]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VisitorsByLocation] AS
(
  SELECT
    CONVERT( CHAR(8), [Date], 112 ) AS [Date],
    [VisitorClassification],
    [LocationId],
    [Country],
	[BusinessName],
    [Region],
    [VisitorId],
    [Visits],
    [Value]
  FROM
    [Cache_VisitorsByLocation]
)
UNION ALL
(
  SELECT
    CONVERT( CHAR(8), [Date], 112 ) AS [Date],
    [VisitorClassification],
    [LocationId],
    [Country],
    [BusinessName],
    [Region],
    [VisitorId],
    [Visits],
    [Value]
  FROM
    [Source_VisitorsByLocation]
  WHERE
    ([Date] > ISNULL( (SELECT MAX(cache.[Date]) FROM [Cache_VisitorsByLocation] cache), '0001-01-01' ) )
)

GO
/****** Object:  View [dbo].[TrafficOverview]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[TrafficOverview] AS
SELECT
  [Date],
  [Month],
  [TrafficType],
  [CampaignId],
  [ItemId],
  [Url],
  [KeywordsId],
  [Keywords],
  [ReferringSiteId],
  [ReferringSite],
  [Multisite],
  [Language],
  [DeviceName],
  [FirstVisit],
  [Visits],
  [Value]
FROM
  [TrafficByDay]

GO
/****** Object:  View [dbo].[CampaignsOverview]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[CampaignsOverview] AS
SELECT
  [TrafficOverview].[Date],
  [TrafficOverview].[Month],
  [TrafficOverview].[ItemId],
  [TrafficOverview].[Url], 
  [TrafficOverview].[KeywordsId],
  [TrafficOverview].[Keywords],
  [TrafficOverview].[ReferringSiteId],
  [TrafficOverview].[ReferringSite],
  [TrafficOverview].[Multisite],
  [TrafficOverview].[Language],
  [TrafficOverview].[DeviceName],
  [TrafficOverview].[FirstVisit],
  [Campaigns].[CampaignName],
  [Campaigns].[Category1Id],
  [Campaigns].[Category2Id],
  [Campaigns].[Category3Id],
  [Campaigns].[CampaignId],
  [TrafficOverview].[Visits],
  [TrafficOverview].[Value]
FROM
  [TrafficOverview]
  INNER JOIN [Campaigns] ON ([TrafficOverview].[CampaignId] = [Campaigns].[CampaignId])

GO
/****** Object:  View [dbo].[VisitEventsByDataKey]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VisitEventsByDataKey] AS
SELECT 
  [Date], 
  [Month],
  [TrafficType],
  [CampaignId],
  [VisitId],
  [PageEventDefinitionId],
  [PageEventName],
  [DataKey],
  [Multisite],
  [Language],
  [DeviceName],
  [Value],
  [IsGoal],
  SUM( [NumberOfEvents] ) AS [NumberOfEvents]
FROM
  [VisitEvents]
GROUP BY
  [Date], 
  [Month],
  [TrafficType],
  [CampaignId],
  [VisitId],
  [PageEventDefinitionId],
  [PageEventName],
  [DataKey],
  [Multisite],
  [Language],
  [DeviceName],
  [Value],
  [IsGoal]

GO
/****** Object:  View [dbo].[VisitEventsByDefinition]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VisitEventsByDefinition] AS
SELECT 
  [Date], 
  [Month],
  [TrafficType],
  [CampaignId],
  [VisitId],
  [PageEventDefinitionId],
  [PageEventName],
  [Multisite],
  [Language],
  [DeviceName],
  [Value],
  [IsGoal],
  SUM( [NumberOfEvents] ) AS [NumberOfEvents]
FROM
  [VisitEvents]
GROUP BY
  [Date], 
  [Month],
  [TrafficType],
  [CampaignId],
  [VisitId],
  [PageEventDefinitionId],
  [PageEventName],
  [Multisite],
  [Language],
  [DeviceName],
  [Value],
  [IsGoal]

GO
/****** Object:  View [dbo].[VisitEventsByPage]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VisitEventsByPage] AS
SELECT 
  [Date], 
  [Month],
  [TrafficType],
  [CampaignId],
  [VisitId],
  [PageEventDefinitionId],
  [PageEventName],
  [ItemId],
  [Multisite],
  [Language],
  [DeviceName],
  [Value],
  [IsGoal],
  SUM( [NumberOfEvents] ) AS [NumberOfEvents]
FROM
  [VisitEvents]
GROUP BY
  [ItemId],
  [PageEventName],
  [IsGoal],
  [TrafficType],
  [CampaignId],
  [Date], 
  [Month],
  [VisitId],
  [PageEventDefinitionId],
  [Multisite],
  [Language],
  [DeviceName],
  [Value]

GO
/****** Object:  View [dbo].[TrafficByCampaign]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TrafficByCampaign] AS
WITH [Tbc] ( [CampaignId], [Visits], [Value] ) AS
(
  (
    SELECT
      [CampaignId] AS [CampaignId],
      SUM( [Visits] ) AS [Visits],
      SUM( [Value] ) AS [Value]
    FROM
      [dbo].[Cache_TrafficByDay]
    WHERE
      ([CampaignId] IS NOT NULL) AND
      ([CampaignId] <> '00000000-0000-0000-0000-000000000000') AND
      ([CampaignId] <> '00000001-0000-0000-0000-000000000000')
    GROUP BY
      [CampaignId]
  )
  UNION ALL
  (
    SELECT
      [Visits].[CampaignId] AS [CampaignId],
      COUNT( 1 ) AS [Visits],
      SUM( [Visits].[Value] ) AS [Value]
    FROM
      [dbo].[Visits] WITH (NOLOCK)
      INNER JOIN [Visitors] WITH (NOLOCK) ON ([Visitors].VisitorId = [Visits].[VisitorId]) AND ([Visitors].[VisitorClassification] < 900)
    WHERE
      ([Visits].[StartDateTime] > ISNULL( (SELECT MAX(cache.[Date]) FROM [Cache_TrafficByDay] cache), '0001-01-01' ) ) AND
      ([CampaignId] IS NOT NULL) AND
      ([CampaignId] <> '00000000-0000-0000-0000-000000000000') AND
      ([CampaignId] <> '00000001-0000-0000-0000-000000000000')
    GROUP BY
      [Visits].[CampaignId]
  )
)
SELECT
  [CampaignId] AS [CampaignId],
  SUM( [Visits] ) AS [Visits],
  SUM( [Value] ) AS [Value]
FROM
  [Tbc]
GROUP BY
  [CampaignId]


GO
/****** Object:  Index [IX_ByAutomation]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByAutomation] ON [dbo].[AutomationStates]
(
	[AutomationId] ASC,
	[StateId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByAutomationState]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByAutomationState] ON [dbo].[AutomationStates]
(
	[StateId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ByTestSet]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByTestSet] ON [dbo].[AutomationStates]
(
	[TestSetId] ASC,
	[TestValues] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ByUser]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByUser] ON [dbo].[AutomationStates]
(
	[UserName] ASC
)
WHERE ([UserName] IS NOT NULL)
WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByVisitor]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByVisitor] ON [dbo].[AutomationStates]
(
	[VisitorId] ASC
)
WHERE ([VisitorId] IS NOT NULL)
WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_State]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_State] ON [dbo].[AutomationStates]
(
	[State] ASC,
	[WakeupDateTime] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ByLanguage]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByLanguage] ON [dbo].[Cache_TrafficByDay]
(
	[Language] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ByMultisite]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByMultisite] ON [dbo].[Cache_TrafficByDay]
(
	[Multisite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByTrafficType]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByTrafficType] ON [dbo].[Cache_TrafficByDay]
(
	[TrafficType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_CampaignId]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_CampaignId] ON [dbo].[Cache_TrafficByDay]
(
	[CampaignId] ASC
)
INCLUDE ( 	[Visits],
	[Value]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ByLanguage]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByLanguage] ON [dbo].[Cache_ValueBySource]
(
	[Language] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ByMultisite]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByMultisite] ON [dbo].[Cache_ValueBySource]
(
	[Multisite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByTrafficType]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByTrafficType] ON [dbo].[Cache_ValueBySource]
(
	[TrafficType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByCampaignId]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByCampaignId] ON [dbo].[Cache_VisitEvents]
(
	[CampaignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByItem]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByItem] ON [dbo].[Cache_VisitEvents]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ByLanguage]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByLanguage] ON [dbo].[Cache_VisitEvents]
(
	[Language] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ByMultisite]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByMultisite] ON [dbo].[Cache_VisitEvents]
(
	[Multisite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByPageEventDefinition]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByPageEventDefinition] ON [dbo].[Cache_VisitEvents]
(
	[PageEventDefinitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByTrafficType]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByTrafficType] ON [dbo].[Cache_VisitEvents]
(
	[TrafficType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByVisit]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByVisit] ON [dbo].[Cache_VisitEvents]
(
	[VisitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Category1]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_Category1] ON [dbo].[Campaigns]
(
	[Category1Id] ASC,
	[CampaignId] ASC
)
INCLUDE ( 	[Category2Id],
	[Category3Id],
	[CampaignName]) WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Category2]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_Category2] ON [dbo].[Campaigns]
(
	[Category1Id] ASC,
	[Category2Id] ASC,
	[CampaignId] ASC
)
INCLUDE ( 	[Category3Id],
	[CampaignName]) WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Category3]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_Category3] ON [dbo].[Campaigns]
(
	[Category1Id] ASC,
	[Category2Id] ASC,
	[Category3Id] ASC,
	[CampaignId] ASC
)
INCLUDE ( 	[CampaignName]) WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Goals]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_Goals] ON [dbo].[PageEventDefinitions]
(
	[IsGoal] ASC
)
INCLUDE ( 	[PageEventDefinitionId],
	[Name]) WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByDate]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByDate] ON [dbo].[PageEvents]
(
	[DateTime] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ByDefinition]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByDefinition] ON [dbo].[PageEvents]
(
	[PageEventDefinitionId] ASC,
	[VisitId] ASC,
	[DataKey] ASC,
	[ItemId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByVisitor]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByVisitor] ON [dbo].[PageEvents]
(
	[VisitorId] ASC,
	[VisitId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByDate]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByDate] ON [dbo].[Pages]
(
	[DateTime] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ByTestSet]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByTestSet] ON [dbo].[Pages]
(
	[TestSetId] ASC,
	[TestValues] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ByUrl]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByUrl] ON [dbo].[Pages]
(
	[Url] ASC,
	[VisitId] ASC,
	[VisitPageIndex] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByVisitor]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByVisitor] ON [dbo].[Pages]
(
	[VisitorId] ASC,
	[VisitId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByVisitPageIndex]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByVisitPageIndex] ON [dbo].[Pages]
(
	[VisitPageIndex] ASC,
	[VisitId] ASC,
	[VisitorId] ASC,
	[ItemId] ASC
)
WHERE ([VisitPageIndex]=(1) AND [ItemId]<>'00000000-0000-0000-0000-000000000000')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByVisitId]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByVisitId] ON [dbo].[Profiles]
(
	[VisitId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByVisitor]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByVisitor] ON [dbo].[Profiles]
(
	[VisitorId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByVisitor]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByVisitor] ON [dbo].[VisitorTags]
(
	[VisitorId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByCampaign]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByCampaign] ON [dbo].[Visits]
(
	[CampaignId] ASC,
	[StartDateTime] ASC
)
WHERE ([CampaignId] IS NOT NULL AND [CampaignId]<>'00000000-0000-0000-0000-000000000000')
WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByDate]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByDate] ON [dbo].[Visits]
(
	[StartDateTime] ASC,
	[VisitorId] ASC,
	[VisitId] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ByLocation]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByLocation] ON [dbo].[Visits]
(
	[LocationId] ASC,
	[StartDateTime] ASC
)
INCLUDE ( 	[VisitorId],
	[VisitId],
	[Region],
	[BusinessName],
	[City],
	[Latitude],
	[Longitude],
	[Value]) WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByReferringSite]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByReferringSite] ON [dbo].[Visits]
(
	[ReferringSiteId] ASC
)
INCLUDE ( 	[VisitId]) WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByState]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByState] ON [dbo].[Visits]
(
	[State] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ByTestSet]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByTestSet] ON [dbo].[Visits]
(
	[TestSetId] ASC,
	[TestValues] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_ByVisitor]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_ByVisitor] ON [dbo].[Visits]
(
	[VisitorId] ASC,
	[VisitId] ASC
)
INCLUDE ( 	[VisitorVisitIndex],
	[StartDateTime]) WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_FirstVisits]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [IX_FirstVisits] ON [dbo].[Visits]
(
	[VisitorVisitIndex] ASC,
	[VisitorId] ASC,
	[TrafficType] ASC
)
INCLUDE ( 	[StartDateTime],
	[Value]) WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [ix_Visits_VisitorVisitIndexStartDateTime]    Script Date: 20.05.2015 16:21:56 ******/
CREATE NONCLUSTERED INDEX [ix_Visits_VisitorVisitIndexStartDateTime] ON [dbo].[Visits]
(
	[VisitorVisitIndex] ASC,
	[StartDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Automations]  WITH NOCHECK ADD  CONSTRAINT [FK_Automation_Campaign] FOREIGN KEY([Campaignid])
REFERENCES [dbo].[Campaigns] ([CampaignId])
GO
ALTER TABLE [dbo].[Automations] NOCHECK CONSTRAINT [FK_Automation_Campaign]
GO
ALTER TABLE [dbo].[AutomationStates]  WITH NOCHECK ADD  CONSTRAINT [FK_AutomationStates_Visitors] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitors] ([VisitorId])
GO
ALTER TABLE [dbo].[AutomationStates] NOCHECK CONSTRAINT [FK_AutomationStates_Visitors]
GO
ALTER TABLE [dbo].[AutomationStates]  WITH NOCHECK ADD  CONSTRAINT [FK_MarketingAutomationStates_MarketingAutomations] FOREIGN KEY([AutomationId])
REFERENCES [dbo].[Automations] ([AutomationId])
GO
ALTER TABLE [dbo].[AutomationStates] NOCHECK CONSTRAINT [FK_MarketingAutomationStates_MarketingAutomations]
GO
ALTER TABLE [dbo].[GeoIps]  WITH NOCHECK ADD  CONSTRAINT [FK_GeoIps_VisitorClassification] FOREIGN KEY([VisitorClassification])
REFERENCES [dbo].[VisitorClassifications] ([VisitorClassification])
GO
ALTER TABLE [dbo].[GeoIps] NOCHECK CONSTRAINT [FK_GeoIps_VisitorClassification]
GO
ALTER TABLE [dbo].[Locations]  WITH NOCHECK ADD  CONSTRAINT [FK_Locations_VisitorClassification] FOREIGN KEY([VisitorClassification])
REFERENCES [dbo].[VisitorClassifications] ([VisitorClassification])
GO
ALTER TABLE [dbo].[Locations] NOCHECK CONSTRAINT [FK_Locations_VisitorClassification]
GO
ALTER TABLE [dbo].[NotificationSubscriptions]  WITH NOCHECK ADD  CONSTRAINT [FK_NotificationSubscriptions_Locations] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([LocationId])
GO
ALTER TABLE [dbo].[NotificationSubscriptions] NOCHECK CONSTRAINT [FK_NotificationSubscriptions_Locations]
GO
ALTER TABLE [dbo].[PageEvents]  WITH NOCHECK ADD  CONSTRAINT [FK_PageEvents_PageEventDefinitions] FOREIGN KEY([PageEventDefinitionId])
REFERENCES [dbo].[PageEventDefinitions] ([PageEventDefinitionId])
GO
ALTER TABLE [dbo].[PageEvents] NOCHECK CONSTRAINT [FK_PageEvents_PageEventDefinitions]
GO
ALTER TABLE [dbo].[PageEvents]  WITH NOCHECK ADD  CONSTRAINT [FK_PageEvents_Pages] FOREIGN KEY([PageId])
REFERENCES [dbo].[Pages] ([PageId])
GO
ALTER TABLE [dbo].[PageEvents] NOCHECK CONSTRAINT [FK_PageEvents_Pages]
GO
ALTER TABLE [dbo].[PageEvents]  WITH NOCHECK ADD  CONSTRAINT [FK_PageEvents_Visitors] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitors] ([VisitorId])
GO
ALTER TABLE [dbo].[PageEvents] NOCHECK CONSTRAINT [FK_PageEvents_Visitors]
GO
ALTER TABLE [dbo].[PageEvents]  WITH NOCHECK ADD  CONSTRAINT [FK_PageEvents_Visits] FOREIGN KEY([VisitId])
REFERENCES [dbo].[Visits] ([VisitId])
GO
ALTER TABLE [dbo].[PageEvents] NOCHECK CONSTRAINT [FK_PageEvents_Visits]
GO
ALTER TABLE [dbo].[Pages]  WITH NOCHECK ADD  CONSTRAINT [FK_Pages_Visitors] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitors] ([VisitorId])
GO
ALTER TABLE [dbo].[Pages] NOCHECK CONSTRAINT [FK_Pages_Visitors]
GO
ALTER TABLE [dbo].[Pages]  WITH NOCHECK ADD  CONSTRAINT [FK_Pages_Visits] FOREIGN KEY([VisitId])
REFERENCES [dbo].[Visits] ([VisitId])
GO
ALTER TABLE [dbo].[Pages] NOCHECK CONSTRAINT [FK_Pages_Visits]
GO
ALTER TABLE [dbo].[Profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_Profile_Visits] FOREIGN KEY([VisitId])
REFERENCES [dbo].[Visits] ([VisitId])
GO
ALTER TABLE [dbo].[Profiles] NOCHECK CONSTRAINT [FK_Profile_Visits]
GO
ALTER TABLE [dbo].[Profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_Profiles_Visitors] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitors] ([VisitorId])
GO
ALTER TABLE [dbo].[Profiles] NOCHECK CONSTRAINT [FK_Profiles_Visitors]
GO
ALTER TABLE [dbo].[ReferringSites]  WITH NOCHECK ADD  CONSTRAINT [FK_ReferringSites_TrafficTypes] FOREIGN KEY([TrafficType])
REFERENCES [dbo].[TrafficTypes] ([TrafficType])
GO
ALTER TABLE [dbo].[ReferringSites] NOCHECK CONSTRAINT [FK_ReferringSites_TrafficTypes]
GO
ALTER TABLE [dbo].[UserAgents]  WITH NOCHECK ADD  CONSTRAINT [FK_UserAgents_VisitorClassification] FOREIGN KEY([VisitorClassification])
REFERENCES [dbo].[VisitorClassifications] ([VisitorClassification])
GO
ALTER TABLE [dbo].[UserAgents] NOCHECK CONSTRAINT [FK_UserAgents_VisitorClassification]
GO
ALTER TABLE [dbo].[Visitors]  WITH NOCHECK ADD  CONSTRAINT [FK_Visitors_VisitorClassification] FOREIGN KEY([VisitorClassification])
REFERENCES [dbo].[VisitorClassifications] ([VisitorClassification])
GO
ALTER TABLE [dbo].[Visitors] NOCHECK CONSTRAINT [FK_Visitors_VisitorClassification]
GO
ALTER TABLE [dbo].[Visitors]  WITH NOCHECK ADD  CONSTRAINT [FK_Visitors_VisitorClassification1] FOREIGN KEY([OverrideVisitorClassification])
REFERENCES [dbo].[VisitorClassifications] ([VisitorClassification])
GO
ALTER TABLE [dbo].[Visitors] NOCHECK CONSTRAINT [FK_Visitors_VisitorClassification1]
GO
ALTER TABLE [dbo].[VisitorTags]  WITH NOCHECK ADD  CONSTRAINT [FK_VisitorTags_Visitors] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitors] ([VisitorId])
GO
ALTER TABLE [dbo].[VisitorTags] NOCHECK CONSTRAINT [FK_VisitorTags_Visitors]
GO
ALTER TABLE [dbo].[Visits]  WITH NOCHECK ADD  CONSTRAINT [FK_Visits_Browsers] FOREIGN KEY([BrowserId])
REFERENCES [dbo].[Browsers] ([BrowserId])
GO
ALTER TABLE [dbo].[Visits] NOCHECK CONSTRAINT [FK_Visits_Browsers]
GO
ALTER TABLE [dbo].[Visits]  WITH NOCHECK ADD  CONSTRAINT [FK_Visits_Campaigns] FOREIGN KEY([CampaignId])
REFERENCES [dbo].[Campaigns] ([CampaignId])
GO
ALTER TABLE [dbo].[Visits] NOCHECK CONSTRAINT [FK_Visits_Campaigns]
GO
ALTER TABLE [dbo].[Visits]  WITH NOCHECK ADD  CONSTRAINT [FK_Visits_GeoIps] FOREIGN KEY([Ip])
REFERENCES [dbo].[GeoIps] ([Ip])
GO
ALTER TABLE [dbo].[Visits] NOCHECK CONSTRAINT [FK_Visits_GeoIps]
GO
ALTER TABLE [dbo].[Visits]  WITH NOCHECK ADD  CONSTRAINT [FK_Visits_Keywords] FOREIGN KEY([KeywordsId])
REFERENCES [dbo].[Keywords] ([KeywordsId])
GO
ALTER TABLE [dbo].[Visits] NOCHECK CONSTRAINT [FK_Visits_Keywords]
GO
ALTER TABLE [dbo].[Visits]  WITH NOCHECK ADD  CONSTRAINT [FK_Visits_Locations] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([LocationId])
GO
ALTER TABLE [dbo].[Visits] NOCHECK CONSTRAINT [FK_Visits_Locations]
GO
ALTER TABLE [dbo].[Visits]  WITH NOCHECK ADD  CONSTRAINT [FK_Visits_OS] FOREIGN KEY([OsId])
REFERENCES [dbo].[OS] ([OsId])
GO
ALTER TABLE [dbo].[Visits] NOCHECK CONSTRAINT [FK_Visits_OS]
GO
ALTER TABLE [dbo].[Visits]  WITH NOCHECK ADD  CONSTRAINT [FK_Visits_ReferringSites] FOREIGN KEY([ReferringSiteId])
REFERENCES [dbo].[ReferringSites] ([ReferringSiteId])
GO
ALTER TABLE [dbo].[Visits] NOCHECK CONSTRAINT [FK_Visits_ReferringSites]
GO
ALTER TABLE [dbo].[Visits]  WITH NOCHECK ADD  CONSTRAINT [FK_Visits_Screens] FOREIGN KEY([ScreenId])
REFERENCES [dbo].[Screens] ([ScreenId])
GO
ALTER TABLE [dbo].[Visits] NOCHECK CONSTRAINT [FK_Visits_Screens]
GO
ALTER TABLE [dbo].[Visits]  WITH NOCHECK ADD  CONSTRAINT [FK_Visits_TrafficTypes] FOREIGN KEY([TrafficType])
REFERENCES [dbo].[TrafficTypes] ([TrafficType])
GO
ALTER TABLE [dbo].[Visits] NOCHECK CONSTRAINT [FK_Visits_TrafficTypes]
GO
ALTER TABLE [dbo].[Visits]  WITH NOCHECK ADD  CONSTRAINT [FK_Visits_UserAgents] FOREIGN KEY([UserAgentId])
REFERENCES [dbo].[UserAgents] ([UserAgentId])
GO
ALTER TABLE [dbo].[Visits] NOCHECK CONSTRAINT [FK_Visits_UserAgents]
GO
ALTER TABLE [dbo].[Visits]  WITH NOCHECK ADD  CONSTRAINT [FK_Visits_Visitors] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitors] ([VisitorId])
GO
ALTER TABLE [dbo].[Visits] NOCHECK CONSTRAINT [FK_Visits_Visitors]
GO
/****** Object:  StoredProcedure [dbo].[sp_sc_disable_constraints]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Dmitry Kostenko
-- Create date: 08-12-2011
-- Description:	Disables foreign key constraints in the database
-- =============================================
CREATE PROCEDURE [dbo].[sp_sc_disable_constraints]
AS
DECLARE CONSTRAINTS CURSOR FOR
  SELECT T.TABLE_NAME, T.CONSTRAINT_NAME
  FROM 
    INFORMATION_SCHEMA.CONSTRAINT_TABLE_USAGE T,
    INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS RC
  WHERE
    T.CONSTRAINT_CATALOG = RC.CONSTRAINT_CATALOG AND
    T.CONSTRAINT_SCHEMA = RC.CONSTRAINT_SCHEMA AND
    T.CONSTRAINT_NAME = RC.CONSTRAINT_NAME
DECLARE
  @table nvarchar(100),
  @constraint nvarchar(100),
  @sql nvarchar(1000)
BEGIN
  OPEN CONSTRAINTS
  FETCH NEXT FROM CONSTRAINTS INTO @table, @constraint
  WHILE @@FETCH_STATUS <> -1 BEGIN
    SET @sql = 'ALTER TABLE [' + @table + '] NOCHECK CONSTRAINT [' + @constraint + ']';
    EXEC sp_executesql @sql
    FETCH NEXT FROM CONSTRAINTS INTO @table, @constraint
  END
  CLOSE CONSTRAINTS
  DEALLOCATE CONSTRAINTS
END
GO
/****** Object:  StoredProcedure [dbo].[sp_sc_disable_indexes]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Disable non-clustered indexes on a specific table or all tables in the database
CREATE PROCEDURE [dbo].[sp_sc_disable_indexes]
  @tablename varchar(100) = null
AS
  declare @indextable varchar(100), @indexname varchar(100), @sql nvarchar(1000)
  declare indexes cursor for 
    select OBJECT_NAME(sys.indexes.object_id) indextable, sys.indexes.name indexname
    from 
      sys.indexes 
      inner join sys.tables on sys.indexes.object_id = sys.tables.object_id 
    where 
       sys.indexes.type_desc <> 'CLUSTERED' and (@tablename is null or OBJECT_NAME(sys.indexes.object_id) = @tablename)
BEGIN
  open indexes
  fetch next from indexes into @indextable, @indexname
  while (@@FETCH_STATUS<>-1) begin
    set @sql = 'ALTER INDEX ' + @indexname + ' ON ' + @indextable + ' DISABLE'
    exec sp_executesql @sql
    fetch next from indexes into @indextable, @indexname
  end
  close indexes
  deallocate indexes
END

GO
/****** Object:  StoredProcedure [dbo].[sp_sc_enable_constraints]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Dmitry Kostenko
-- Create date: 08-12-2011
-- Description:	Enables foreign key constraints in the database
-- =============================================
CREATE PROCEDURE [dbo].[sp_sc_enable_constraints]
AS
DECLARE CONSTRAINTS CURSOR FOR
  SELECT T.TABLE_NAME, T.CONSTRAINT_NAME
  FROM 
    INFORMATION_SCHEMA.CONSTRAINT_TABLE_USAGE T,
    INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS RC
  WHERE
    T.CONSTRAINT_CATALOG = RC.CONSTRAINT_CATALOG AND
    T.CONSTRAINT_SCHEMA = RC.CONSTRAINT_SCHEMA AND
    T.CONSTRAINT_NAME = RC.CONSTRAINT_NAME
DECLARE
  @table nvarchar(100),
  @constraint nvarchar(100),
  @sql nvarchar(1000)
BEGIN
  OPEN CONSTRAINTS
  FETCH NEXT FROM CONSTRAINTS INTO @table, @constraint
  WHILE @@FETCH_STATUS <> -1 BEGIN
    SET @sql = 'ALTER TABLE [' + @table + '] CHECK CONSTRAINT [' + @constraint + ']';
    EXEC sp_executesql @sql
    FETCH NEXT FROM CONSTRAINTS INTO @table, @constraint
  END
  CLOSE CONSTRAINTS
  DEALLOCATE CONSTRAINTS
END
GO
/****** Object:  StoredProcedure [dbo].[sp_sc_enable_indexes]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_sc_enable_indexes]
	-- Add the parameters for the stored procedure here
	@tablename varchar(100) = null
AS
  declare @indextable varchar(100), @indexname varchar(100), @sql nvarchar(1000)
  declare indexes cursor for 
    select OBJECT_NAME(object_id) indextable, name indexname 
    from sys.indexes 
    where is_disabled = 1 and (@tablename is null or OBJECT_NAME(object_id) = @tablename)
    order by type_desc
BEGIN
  open indexes
  fetch next from indexes into @indextable, @indexname
  while (@@FETCH_STATUS<>-1) begin
    set @sql = 'ALTER INDEX [' + @indexname + '] ON [' + @indextable+ '] REBUILD'
    exec sp_executesql @sql
    fetch next from indexes into @indextable, @indexname
  end
  close indexes
  deallocate indexes
END

GO
/****** Object:  StoredProcedure [dbo].[sp_sc_Refresh_Views]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_sc_Refresh_Views] 
with execute as owner
AS
DECLARE
  @cutoff DATETIME = CAST( DATEADD( DAY, -1, GETUTCDATE( ) ) AS DATE );
BEGIN

  SET NOCOUNT ON;

  --
  -- Update cache tables with aggregated data up until UTC midnight, the day before yesterday.
  --

  EXECUTE [sp_sc_Update_TrafficByDay] @cutoff;
  EXECUTE [sp_sc_Update_VisitEvents] @cutoff;
  EXECUTE [sp_sc_Update_ValueBySource] @cutoff;
  EXECUTE [sp_sc_Update_VisitorsByLocation] @cutoff;

END


GO
/****** Object:  StoredProcedure [dbo].[sp_sc_Update_TrafficByDay]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_sc_Update_TrafficByDay]( @cutoff DATE ) AS
BEGIN

  SET NOCOUNT ON;
  
  --
  -- Ensure that the cut-off is not NULL.
  --

  SET @cutoff = COALESCE( @cutoff, '9999-12-31' );
  
  --
  -- Disable indexes on the cache table to improve insert performance.
  --

  EXECUTE [sp_sc_Disable_Indexes] 'Cache_TrafficByDay';
  
  --
  -- Empty the cache table.
  --

  TRUNCATE TABLE [Cache_TrafficByDay];

  --
  -- Populate the cache table with aggregated data up until the specified cut-off
  -- date. Data for the specified cut-off date is not included.
  --

  INSERT INTO
    [Cache_TrafficByDay] WITH (TABLOCK)
  SELECT
    [Date],
    [TrafficType],
    [CampaignId],
    [ItemId],
    [Url],
    [KeywordsId],
    [Keywords],
    [ReferringSiteId],
    [ReferringSite],
    [Multisite],
    [DeviceName],
    [Language],
    [FirstVisit],
    [Visits],
    [Value]
  FROM
    [Source_TrafficByDay]
  WHERE
    ([Source_TrafficByDay].[Date] < @cutoff);

  --
  -- Enable and rebuild indexes.
  --

  EXECUTE [dbo].[sp_sc_Enable_Indexes] 'Cache_TrafficByDay';

END;

GO
/****** Object:  StoredProcedure [dbo].[sp_sc_Update_ValueBySource]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_sc_Update_ValueBySource]( @cutoff DATE ) AS
BEGIN

  SET NOCOUNT ON;
  
  --
  -- Ensure that the cut-off is not NULL.
  --

  SET @cutoff = COALESCE( @cutoff, '9999-12-31' );
  
  --
  -- Disable indexes on the cache table to improve insert performance.
  --

  EXECUTE [sp_sc_Disable_Indexes] 'Cache_ValueBySource';
  
  --
  -- Empty the cache table.
  --

  TRUNCATE TABLE [Cache_ValueBySource];

  --
  -- Populate the cache table with aggregated data up until the specified cut-off
  -- date. Data for the specified cut-off date is not included.
  --

  INSERT INTO
    [Cache_ValueBySource] WITH (TABLOCK)
  SELECT
    [Date],
    [TrafficType],
    [Multisite],
    [DeviceName],
    [Language],
    [Visits],
    [Value],
    [FirstVisitValue],
    [Visitors]
  FROM
    [Source_ValueBySource]
  WHERE
    ([Source_ValueBySource].[Date] < @cutoff);

  --
  -- Enable and rebuild indexes.
  --

  EXECUTE [dbo].[sp_sc_Enable_Indexes] 'Cache_ValueBySource';

END;

GO
/****** Object:  StoredProcedure [dbo].[sp_sc_Update_VisitEvents]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_sc_Update_VisitEvents]( @cutoff DATE ) AS
BEGIN

  SET NOCOUNT ON;
  
  --
  -- Ensure that the cut-off is not NULL.
  --

  SET @cutoff = COALESCE( @cutoff, '9999-12-31' );
  
  --
  -- Disable indexes on the cache table to improve insert performance.
  --

  EXECUTE [sp_sc_Disable_Indexes] 'Cache_VisitEvents';
  
  --
  -- Empty the cache table.
  --

  TRUNCATE TABLE [Cache_VisitEvents];

  --
  -- Populate the cache table with aggregated data up until the specified cut-off
  -- date. Data for the specified cut-off date is not included.
  --

  INSERT INTO
    [Cache_VisitEvents] WITH (TABLOCK)
  SELECT
    [Date],
    [VisitId],
    [TrafficType],
    [CampaignId],
    [Multisite],
    [DeviceName],
    [Language],
    [Value],
    [PageEventDefinitionId],
    [PageEventName],
    [IsGoal],
    [ItemId],
    [EventItemId],
    [DataKey],
    [NumberOfEvents]
  FROM
    [Source_VisitEvents]
  WHERE
    ([Source_VisitEvents].[Date] < @cutoff);

  --
  -- Enable and rebuild indexes.
  --

  EXECUTE [dbo].[sp_sc_Enable_Indexes] 'Cache_VisitEvents';

END;

GO
/****** Object:  StoredProcedure [dbo].[sp_sc_Update_VisitorsByLocation]    Script Date: 20.05.2015 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_sc_Update_VisitorsByLocation]( @cutoff DATE ) AS
BEGIN

  SET NOCOUNT ON;
  
  --
  -- Ensure that the cut-off is not NULL.
  --

  SET @cutoff = COALESCE( @cutoff, '9999-12-31' );
  
  --
  -- Disable indexes on the cache table to improve insert performance.
  --

  EXECUTE [sp_sc_Disable_Indexes] 'Cache_VisitorsByLocation';
  
  --
  -- Empty the cache table.
  --

  TRUNCATE TABLE [Cache_VisitorsByLocation];

  --
  -- Populate the cache table with aggregated data up until the specified cut-off
  -- date. Data for the specified cut-off date is not included.
  --

  INSERT INTO
    [Cache_VisitorsByLocation] WITH (TABLOCK)
  SELECT
    [Date],
    [VisitorClassification],
    [LocationId],
    [Country],
	[BusinessName],
    [Region],
    [VisitorId],
    [Visits],
    [Value]
  FROM
    [Source_VisitorsByLocation]
  WHERE
    ([Source_VisitorsByLocation].[Date] < @cutoff);

  --
  -- Enable and rebuild indexes.
  --

  EXECUTE [dbo].[sp_sc_Enable_Indexes] 'Cache_VisitorsByLocation';

END;

GO
USE [master]
GO
