<configuration>
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Application Configuration">
          <serializationProvider type="Unicorn.Serialization.Sitecore.Fiat.FiatSitecoreSerializationProvider, Unicorn" rootPath="$(repositoryRoot)\serialization\app" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!-- Serialization config with includes/excludes comes here -->

            <include database="master" path="/sitecore/layout/Renderings/Flex" />
            <include database="master" path="/sitecore/system/Modules/Flex" />
            <include database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Flex" />
            <include database="master" path="/sitecore/system/Settings/Validation Rules/Field Rules/Flex" />
            <include database="master" path="/sitecore/templates/Branches/Flex" />
            <include database="master" path="/sitecore/templates/Flex" />

            <include database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Contextual Ribbons/Flex" />

            <!-- SPEAK -->
            <include database="core" path="/sitecore/client/Your Apps/Flex" />
            <include database="core" path="/sitecore/client/Applications/Launch Pad/Page Settings/Shortcuts/Flex" />
            <include database="core" path="/sitecore/content/Applications/Flex" />
            <include database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Left/Flex" />
            <include database="core" path="/sitecore/client/Business Component Library/System/Icons/Dimensions/id48x48/Flex" />

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>