<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    
    <!--
      INSTANCE NAME 
      The "instanceName" property on the site defines the configuration instance of the specific site.
      This can be used for the configuration framework within the form module. i.e.:
      
      <sites>
        <site name="website" instanceName="default" />
      </site>
    -->

    <settings>
      <setting name="Flex.DictionaryDomain" value="{736285F1-8F0E-437B-900E-3294ECF8B990}"/>
      <setting name="Flex.RenderingId" value="{FA6D13FC-4415-4403-A412-1EB8E2045DF9}"/>
      <setting name="Flex.PasswordStrengthValidator.StandardValues.ItemId" value="{331E1DAB-AEFF-463C-A035-210AC6712B9C}"/>
      
      <setting name="Flex.EmailAddresses.DefaultFrom" value="flex@unic.com" />
      <setting name="Flex.EmailAddresses.DefaultTo" value="kevin.brechbuehl@unic.com" />
      <setting name="Flex.EmailAddresses.DefaultReplyTo" value="" />
      <setting name="Flex.EmailAddresses.DefaultCc" value="" />
      <setting name="Flex.EmailAddresses.DefaultBcc" value="" />
    </settings>

    <pipelines>
      <httpRequestBegin>
        <processor  patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                    type="Unic.Flex.Pipelines.HttpRequest.ResolveFormStep, Unic.Flex" />
      </httpRequestBegin>
    </pipelines>
    
  </sitecore>
</configuration>