<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    
    <!--
      INSTANCE NAME 
      The "instanceName" property on the site defines the configuration instance of the specific site.
      This can be used for the configuration framework within the form module. i.e.:
      
      <sites>
        <site name="website" instanceName="default" />
      </site>
    -->

    <settings>
      <setting name="Flex.DictionaryDomain" value="{736285F1-8F0E-437B-900E-3294ECF8B990}"/>
    </settings>

    <pipelines>
      <httpRequestBegin>
        <processor  patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                    type="Unic.Flex.Pipelines.HttpRequest.ResolveFormStep, Unic.Flex" />
      </httpRequestBegin>
    </pipelines>
    
  </sitecore>
</configuration>