<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <!--
      All configuration module settings have a default value and don't need to exist.
      You can overrite the following settings by uncommenting. Change the value to your need.
      -->
    <settings>
      <!--
      ROOT ITEM TEMPLATE ID'S 
      A pipe-separated list of ID's
      Default value is: {81C9B5BF-567C-4336-BB6C-3DF484031418}
      -->
      <!--
      <setting name="Config.RootItem.TemplateIds" value="{81C9B5BF-567C-4336-BB6C-3DF484031418}"/>
      -->

      <!--
      RULESET TEMPLATE ID 
      The ID of the ruleset template.
      Default value is: {ECD7572D-1361-414C-A5B6-D00D2C5BA9A3}
      -->
      <!--
      <setting name="Config.Ruleset.TemplateId" value="{ECD7572D-1361-414C-A5B6-D00D2C5BA9A3}"/>
      -->

      <!--
      RULESET CONTAINER TEMPLATE ID 
      The ID of the ruleset container template.
      Default value is: {FCC80608-BEC1-4683-A0DF-30070C2C6E5F}
      -->
      <!--
      <setting name="Config.RulesetContainer.TemplateId" value="{FCC80608-BEC1-4683-A0DF-30070C2C6E5F}"/>
      -->

      <!--
      CONFIGURATION TEMPLATE ID 
      The ID of the configuration base template.
      Default value is: {CF1CA8D4-A6D0-43D0-AFB2-AD7D72AB9997}
      -->
      <!--
      <setting name="Config.Configuration.TemplateId" value="{CF1CA8D4-A6D0-43D0-AFB2-AD7D72AB9997}" />
      -->

      <!--
      CUSTOM ROOT RULESET CONTAINER ITEM ID 
      The ID of a custom ruleset container item. This will be a fixed entry point if configured (not empty).
      Default value is: ""
      -->
      <!--
      <setting name="Config.CustomRootRulesetContainer.ItemId" value="" />
      -->
    </settings>
  </sitecore>
</configuration>