<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <!-- Change Data Folder -->
    <sc.variable name="dataFolder">
      <patch:attribute name="value">/App_Data</patch:attribute>
    </sc.variable>

    <sites>
      <site patch:before="site[@name='website']"
            name="flex"
            inherits="website"
            rootPath="/sitecore/content/Flex"
            startItem="/Home"
            database="master" />
    </sites>

    <settings>
      <!--  MAIL SERVER
            SMTP server used for sending mails by the Sitecore server
            Is used by MainUtil.SendMail()
            Default value: ""
      -->
      <setting name="MailServer" set:value="smtp.dmz.unic.com" />
    </settings>

  </sitecore>
</configuration>