<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <!-- Change Data Folder -->
    <sc.variable name="dataFolder">
      <patch:attribute name="value">/App_Data</patch:attribute>
    </sc.variable>

    <sites>
      <site patch:before="site[@name='website']"
            name="flex"
            inherits="website"
            rootPath="/sitecore/content/Flex"
            startItem="/Home"
            database="master"
            enableAnalytics="false"
            glassContext="Flex" />

      <site name="shell"
            set:glassContext="Flex" />
    </sites>

    <settings>
      <!--  MAIL SERVER
            SMTP server used for sending mails by the Sitecore server
            Is used by MainUtil.SendMail()
            Default value: ""
      -->
      <setting name="MailServer" set:value="smtp.dmz.unic.com" />

      <!--  ENABLE COUNTERS
            Indicates if performance counters are enabled.
            Default value: true
      -->
      <setting name="Counters.Enabled" set:value="false" />
    </settings>

    <unicorn>
      <configurations>
        <configuration name="Flex.Integration">
          <targetDataStore physicalRootPath="$(repositoryRoot)\serialization\integration" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/content" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Sample MVC Layout" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Sample MVC" />
            <include name="Templates" database="master" path="/sitecore/templates/Sample" />

          </predicate>
        </configuration>
      </configurations>
    </unicorn>

    <!-- Performance Tweaks: https://gist.github.com/kamsar/8c9efc80e72e6ada8304 -->

    <hooks>
      <hook type="Sitecore.Diagnostics.HealthMonitorHook, Sitecore.Kernel">
        <patch:delete />
      </hook>
      <hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel">
        <patch:delete />
      </hook>
    </hooks>

    <pipelines>
      <contentSearch.queryWarmup patch:source="Sitecore.ContentSearch.config">
        <processor type="Sitecore.ContentSearch.Pipelines.QueryWarmups.RunQueries, Sitecore.ContentSearch">
          <patch:delete />
        </processor>
      </contentSearch.queryWarmup>

      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <patch:delete />
        </processor>

        <processor type="Sitecore.Pipelines.Loader.ShowHistory, Sitecore.Kernel">
          <patch:delete />
        </processor>

        <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client">
          <patch:delete />
        </processor>

        <processor type="Sitecore.Pipelines.Loader.DumpConfigurationFiles, Sitecore.Kernel">
          <patch:delete />
        </processor>

        <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client">
          <patch:delete />
        </processor>
      </initialize>
    </pipelines>

    <!-- Log2Console appender -->

    <log4net>
      <root>
        <appender-ref ref="LogFileAppenderUDP" />
      </root>
      <appender name="LogFileAppenderUDP" type="log4net.Appender.UdpAppender, Sitecore.Logging">
        <remoteAddress value="127.0.0.1" />
        <remotePort value="7071" />
        <layout type="log4net.Layout.XmlLayoutSchemaLog4j" />
      </appender>
    </log4net>

  </sitecore>
</configuration>