<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="Unic.Bob.Scrambler.Core.Pipelines.HttpRequest.UpdateDatabase, Unic.Bob.Scrambler.Core">
          <param desc="activationUrl">updateDatabase</param>
        </processor>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="Unic.Bob.Scrambler.Core.Pipelines.HttpRequest.FullPublish, Unic.Bob.Scrambler.Core">
          <param desc="activationUrl">fullPublish</param>
        </processor>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="Unic.Bob.Scrambler.Core.Pipelines.HttpRequest.RebuildIndex, Unic.Bob.Scrambler.Core">
          <param desc="activationUrl">rebuildIndex</param>
        </processor>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="Unic.Bob.Scrambler.Core.Pipelines.HttpRequest.ReEnableIndexing, Unic.Bob.Scrambler.Core">
          <param desc="activationUrl">reEnableIndexing</param>
        </processor>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="Unic.Bob.Scrambler.Core.Pipelines.HttpRequest.DisableIndexing, Unic.Bob.Scrambler.Core">
          <param desc="activationUrl">disableIndexing</param>
        </processor>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="Unic.Bob.Scrambler.Core.Pipelines.HttpRequest.ResetAdminUser, Unic.Bob.Scrambler.Core">
          <param desc="activationUrl">resetAdmin</param>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>