<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:instead="*[@type='Unic.Bob.Scrambler.Core.Pipelines.HttpRequest.RebuildIndex, Unic.Bob.Scrambler.Core']" type="Unic.Bob.Scrambler.ContentSearch.Pipelines.HttpRequest.RebuildContentSearchIndex, Unic.Bob.Scrambler.ContentSearch">
          <param desc="activationUrl">rebuildIndex</param>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>