@using System.Web.Mvc.Html
@model Unic.Flex.Implementation.Fields.ListFields.ListBoxFieldViewModel

<li>
    @Html.LabelFor(m => m.Value, Model.Label)
    @Html.ListBoxFor(m => m.Value, Model.Items, Model.Attributes)
    @Html.ValidationMessageFor(model => model.Value)
</li>