/** Colors imported from ColorSchemer export */
/** Default variables */
/** Custom web fonts */
/** Helper functions */
/** Inspired from https://github.com/guardian/sass-mq.git */
/**  // To enable support for browsers that do not support @media queries, (IE <= 8, Firefox <= 3, Opera <= 9) set $mqResponsive to false Create a separate stylesheet served exclusively to these browsers, meaning @media queries will be rasterized, relying on the cascade itself */
/** Name your breakpoints in a way that creates a ubiquitous language across team members. It will improve communication between stakeholders, designers, developers, and testers. */
/** Define the breakpoint from the $mqBreakpoints list that should be used as the target width when outputting a static stylesheet (i.e. when $mqResponsive is set to 'false'). */
/** If you want to display the currently active breakpoint in the top right corner of your site during development, add the breakpoints to this list, ordered by width, e.g. (mobile, tablet, desktop). */
/** Media Query mixin Usage: .element { @include mq($from: mobile) { color: red; } @include mq($to: tablet) { color: blue; } @include mq(mobile, tablet) { color: green; } @include mq($from: tablet, $and: '(orientation: landscape)') { color: teal; } @include mq(950px) { color: hotpink; } } */
/** Add a breakpoint Usage: $mqBreakpoints: mqAddBreakpoint(tvscreen, 1920px); */
/** Create a JSON string of map of breakpoints */
/** Hide visually  See http://snook.ca/archives/html_and_css/hiding-content-for-accessibility for discussion of different solutions */
/** Contain floats with clearfix  http://nicolasgallagher.com/micro-clearfix-hack/ */
/** Lists with layout purpose */
/** Replace text */
/** Better font rendering (on OS X) http://maximilianhoffmann.com/posts/better-font-rendering-on-osx  Usage:  .var_dark_on_light { 	@include fontSmoothing; } .var_light_on_dark { 	@include fontSmoothingReset; } */
/** Placeholder in input fields */
/** Custom */
/* Placeholders */
/* line 1, ../../../../../var/lib/jenkins/workspace/Flex-Frontend (develop)/source/modules/multistep/multistep-theme.scss */
.flex_mod_multistepnavigation { margin-left: 1.5em; margin-bottom: 1em; }
/* line 5, ../../../../../var/lib/jenkins/workspace/Flex-Frontend (develop)/source/modules/multistep/multistep-theme.scss */
.flex_mod_multistepnavigation .flex_multistepitem { text-decoration: none; position: relative; padding-left: 3em; padding-right: 1.5em; margin-right: 1.5em; margin-left: -1.5em; border: 4px solid #ffffff; height: 2em; }
/* line 15, ../../../../../var/lib/jenkins/workspace/Flex-Frontend (develop)/source/modules/multistep/multistep-theme.scss */
.flex_mod_multistepnavigation .flex_multistepitem:before, .flex_mod_multistepnavigation .flex_multistepitem:after { left: 100%; top: 50%; content: " "; height: 0; width: 0; position: absolute; border: solid transparent; border-left-color: #626262; border-width: 1.5em; margin-top: -1.5em; z-index: 2; }
/* line 29, ../../../../../var/lib/jenkins/workspace/Flex-Frontend (develop)/source/modules/multistep/multistep-theme.scss */
.flex_mod_multistepnavigation .flex_multistepitem:after { border-left-color: #626262; margin-top: -1.5em; }
/* line 34, ../../../../../var/lib/jenkins/workspace/Flex-Frontend (develop)/source/modules/multistep/multistep-theme.scss */
.flex_mod_multistepnavigation .flex_multistepitem:before { border-left-color: #ffffff; border-width: 1.875em; margin-top: -1.875em; }
/* line 41, ../../../../../var/lib/jenkins/workspace/Flex-Frontend (develop)/source/modules/multistep/multistep-theme.scss */
.flex_mod_multistepnavigation .flex_multistepitem:hover:after, .flex_mod_multistepnavigation .flex_multistepitem:focus:after { border-left-color: #A4C400; z-index: 2; }
/* line 47, ../../../../../var/lib/jenkins/workspace/Flex-Frontend (develop)/source/modules/multistep/multistep-theme.scss */
.flex_mod_multistepnavigation li:first-child .flex_multistepitem { padding-left: 1.5em; }
/* line 51, ../../../../../var/lib/jenkins/workspace/Flex-Frontend (develop)/source/modules/multistep/multistep-theme.scss */
.flex_mod_multistepnavigation .flex_var_active .flex_multistepitem:after { border-left-color: #A4C400; }
/* line 56, ../../../../../var/lib/jenkins/workspace/Flex-Frontend (develop)/source/modules/multistep/multistep-theme.scss */
.flex_mod_multistepnavigation .flex_var_inactive .flex_multistepitem:after { border-left-color: #E7E8E8; }
/* line 61, ../../../../../var/lib/jenkins/workspace/Flex-Frontend (develop)/source/modules/multistep/multistep-theme.scss */
.flex_mod_multistepnavigation .flex_step_number { font-family: Georgia, serif; font-size: 2em; line-height: 0.75em; margin-right: 0.125em; }

/* line 1, ../../../../../var/lib/jenkins/workspace/Flex-Frontend (develop)/source/modules/tooltips/tooltips-theme.scss */
.flex_tooltipcontainer { right: -2em; }
