@using Unic.Flex.Implementation.Fields.TextOnly
@model Unic.Flex.Model.DomainModel.Fields.IField

<tr>
    <th>@Html.Raw(Model.Label)</th>
    <td>
        @if (Model is TextOnlyField)
        {
            @Html.Raw(Model.TextValue)
        }
        else
        {
            @Model.TextValue
        }
    </td>
</tr>