@using Unic.Flex.Core.Presentation
@using Unic.Flex.Implementation.Fields.TextOnly
@model Unic.Flex.Model.Fields.IField

<tr>
    <th>@Html.Raw(Html.GetLabelWithReplacedLink(Model.Label, Model.LabelLink))</th>
    <td>
        @if (Model is TextOnlyField)
        {
            @Html.Raw(Model.DefaultValue)
        }
        else
        {
            foreach (var item in Model.TextValue.Split(new[] { Environment.NewLine }, StringSplitOptions.None))
            {
                @item<br />
            }
        }
    </td>
</tr>