@using Unic.Flex.Presentation
@model Unic.Flex.Model.DomainModel.Steps.StepBase

<h2>@Model.Title</h2>

@foreach (var standardSection in @Model.Sections.Where(s => !s.IsHidden))
{
    @Html.FlexComponent(m => standardSection, "Mailers/SavePlug/Section", (string)ViewBag.Theme)
}