@using System.Web.Mvc.Html
@using Unic.Flex.Presentation
@model Unic.Flex.Website.Models.Flex.FormViewModel

<h2>@Model.Title</h2>
<p>@Model.Introduction</p>

@using (Html.BeginForm())
{
    @Html.FlexComponent(Model.Step, "Step")
}
