@using System.Web.Mvc.Html
@using Unic.Flex.Helpers
@model Unic.Flex.Website.Models.Flex.FormViewModel

<h2>@Model.Title</h2>
<p>@Model.Introdcution</p>

@using (Html.BeginForm())
{
    @Html.FlexComponent(Model.Step)
}
